@use './base/resets';
@use './base/typography';
@use './layout/header';
@use './components/cards';
@use './pages/index';
@use './pages/nosotros';
@use './components/forms';
@use './layout/footer';


main {
    background-color: rgb(122, 116, 116)
}

p {
    font-weight: bold;
}

.section-cards {
    background-color: rgb(185, 182, 181);
}